<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>


    <!-- Libraries for firebase js -->
    <script src="lib/firebase/firebase.js"></script>
    <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBFR3iu3B77f5ljbDXR390qf_01Ab4Ximw",
    authDomain: "noteit-ae8c0.firebaseapp.com",
    databaseURL: "https://noteit-ae8c0.firebaseio.com",
    storageBucket: "noteit-ae8c0.appspot.com",
    messagingSenderId: "567933094409"
  };
  firebase.initializeApp(config);
</script>
    <script src="lib/angularfire/angularfire.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

  </head>
  <body ng-app="noteit">

    <ion-pane>
      <ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-back-button>
        
      </ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view>
      </ion-nav-view>
      <!-- Home -->
      <script type="text/ng-template" id="home.html">
        <ion-view view-title="Home">
            <ion-content class="note-content">
              <div class="row">
                <div class="col">
                  <h3 class="text-center"> Welcome to NoteIt</h3>
                  <p class="text-center"> An easy to use app to help you stay organized</p>
                  <a class="button button-block button-positive" ui-sref="listNotes">View Notes </a>
                  <a class="button button-block button-balanced" ui-sref="addNote">Add Note </a>
                  <a class="button button-block button-calm" ui-sref="editNote">Edit Notes </a>
                  <a class="button button-block button-assertive" ui-sref="deleteNote">Delete Note </a>
                </div>
              </div>
            </ion-content>
        </ion-view>
      </script>


      <!-- Add Note -->
      <script type="text/ng-template" id="addNote.html">
        <ion-view view-title="Home">
            <ion-content class="note-content">
              <div class="row">
                <div class="col">
                 <div class="list" ng-controller="AddNoteCtrl">
                 <label class="item item-input">
                   <input type="text" ng-model="title" placeholder="Title">
                 </label>

                 <label class="item item-input">
                   <textarea placeholder="Body for Note" ng-model="body"></textarea>
                 </label>

                 <div class="button button-block button-positive"
                 ng-model="addNoteButton"
                 ng-disabled ="!title||!body"
                 ng-click="saveNote()">
                 Submit
                 </div>
                 </div>
                </div>
              </div>
            </ion-content>
        </ion-view>
      </script>

      <!-- List Notes -->
      <script type="text/ng-template" id="listNotes.html">
        <ion-view view-title="Notes">
            <ion-content class="note-content">
              <div class="row">
                <div class="col">
                 <ion-list ng-controller="ListNotesCtrl">
                  <ion-tem ng-repeat="note in notes">
                  <a ui-sref="singleNote({id:note.$id})" nav-direction="enter">
                  <h2>{{note.title}}</h2>
                  </a>
                  </ion-tem>
                </ion-list>
                </div>
              </div>
            </ion-content>
        </ion-view>
      </script>

      <!-- Single Note -->
      <script type="text/ng-template" id="singleNote.html">
        <div ng-controller="SingleNoteCtrl">
          <ion-view view-title="{{singleNote.title}}">
              <ion-content class="note-content">
                <div class="row">
                  <div class="col">
                      <p class="text-center">{{singleNote.body}}</p>
                  </div>
                </div>
              </ion-content>
          </ion-view>
        </div>
      </script>


       <!-- Delete Note -->
      <script type="text/ng-template" id="deleteNote.html">
          <ion-view view-title="Delete notes">
              <ion-content class="note-content">
                <div class="row">
                  <div class="col">
                  <div ng-contoller="DeleteNoteCtrl">
                  <ion-list>
                        <ion-item ng-repeat="note in notes">
                            <div class="button button-block button-positive"
                            ng-model="delButton" ng-click="showDetails(note.$id)">
                                Delete {{note.title}}                              
                            </div>
                        </ion-item>
                  </ion-list>
                  </div>
                  </div>
                </div>
              </ion-content>
          </ion-view>
      </script>

        <!-- Edit Note -->
      <script type="text/ng-template" id="editNote.html">
          <ion-view view-title="Edit notes">
              <ion-content class="note-content">
                <div class="row">
                  <div class="col">
                  <div ng-contoller="EditNoteCtrl">
                  <ion-list>
                        <ion-item ng-repeat="note in notes" class="note-listing">
                            <a ui-sref="updateNote({id: note.$id})" nav-direction="enter">
                            <h2> Edit {{note.title}}
                            </h2>
                            </a>
                        </ion-item>
                  </ion-list>
                  </div>
                  </div>
                </div>
              </ion-content>
          </ion-view>
      </script>


            <!-- Update Note -->
      <script type="text/ng-template" id="updateNote.html">
          <ion-view view-title="Update notes">
              <ion-content class="note-content">
              <div class="row">
                <div class="col">
                 <div class="list" ng-controller="UpdateNoteCtrl">
                 <label class="item item-input">
                   <input type="text" ng-model="title" placeholder="Title">
                 </label>

                 <label class="item item-input">
                   <textarea placeholder="Body for Note" ng-model="body"></textarea>
                 </label>

                 <div class="button button-block button-positive"
                 ng-model="editNoteButton"
                 ng-disabled ="!title||!body"
                 ng-click="updateNote(myid)">
                 Update
                 </div>
                 </div>
                </div>
              </div>
            </ion-content>
          </ion-view>
      </script>
    </ion-pane>
  </body>
</html>
